@import 'var';
$var-module: App;
$var-defaults: (
  color: green,
);

@include --var($var-defaults);

.container {
  @include var(color);
}

.list {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-areas:
    'NAV ... HIRE'
    'CONTENT CONTENT CONTENT'
    'FOOTER FOOTER FOOTER';
}

.header {
  grid-column: NAV / HIRE;
  grid-row: NAV / HIRE;
}

.title {

}

.navigation {
  grid-area: NAV;
}

.content {
  grid-area: CONTENT;
}

.hire {
  grid-area: HIRE;
}

.footer {
  grid-area: FOOTER;
}

.small {

}


:global {
  body {
    // smallest reset
    &,
    * {
      &,
      &:before,
      &:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
    }

    // consistent spacing
    * + * {
      margin-top: 1rem;
    }
  }
}
